<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>All the users</h1>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          {% for user in all_the_users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email_address }}</td>
            <td>{{ user.age }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h1>Add a User</h1>
      <form action="/users" method="POST" class="add-user-form">
        {% csrf_token %}
        <div>
          <label for="first_name">First Name</label>
          <input id="first_name" type="text" name="first_name" required />

          <label for="last_name">Last Name</label>
          <input id="last_name" type="text" name="last_name" required />
        </div>

        <div>
          <label for="email_address">email_address</label>
          <input
            id="email_address"
            type="email"
            name="email_address"
            required
          />

          <label for="age">Age</label>
          <input id="age" type="number" name="age" required />
        </div>

        <button type="submit" class="submit-btn">Add</button>
      </form>
    </div>
  </body>
</html>
