* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.time-date-heading {
  border: 2px solid black;
  padding: 15px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.time-date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  padding: 12px;
  width: 450px;
  font-size: 30px;
  font-weight: bold;
}
