* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    padding: 35px;
}

button {
    background-color: #2B77E4;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    box-shadow: 4px 4px 0px 0px black;
    cursor: pointer;
}

h2 {
    color: #5190E8;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    padding: 15px;
}

.header > ul  {
 display: flex;
 flex-direction: row;
 gap: 30px;
 align-items: center;
 list-style: none;
}

.header > ul > li > a {
    text-decoration: none;
    color: black;
}

.header > ul > li > a.active, .header > ul > li > a:hover {
    color: #5190E8;
}

.logo-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-section span {
    color: #5190E8;
}

/* container or main content */
.main-content {
    margin-top: 10px;
}

.carusel {
    border: 2px solid black;
    background-color: #B7D4FA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
}

.carusel-content {
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

.carusel-img {
    height: 250px;
}

.carusel-img > img {
    height: 100%;
    width: 100%;
}

.services-section {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.services-section > div {
    margin-bottom: 30px;
}

.services-cards {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.services-cards > .card-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.services-cards > .card-layout > p {
    text-align: center;
}

.card {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 15px;
    flex-grow: 1;
}

.card > img {
    width: 150px;
}

.card > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* reviews section */
.reviews-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.reviews-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #94BBF1;
    padding: 10px 30px;
    gap: 30px;
}

@media (width < 780px) {
    .reviews-content {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.reviews-content > div {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
    gap: 15px;
}

.read-more-btn-div {
    display: flex;
    justify-content: end;
}

.reviews-content > img {
    width: 250px;
    /* flex: 1/2; */
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #95BCF2;
    border: 2px solid black;
}

.footer > ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.footer > ul > li img {
    /* list-style: ; */
    width: 30px;
    color: #5190E8;
} 

.footer > p {
    color: black;
    font-weight: bold;
}