<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css'%}" />
    <title>Books ad Authors</title>
  </head>
  <body>
    <div class="container">
      <form action="/add_book" method="POST">
        <h2>Add Book</h2>
        {% csrf_token %}
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" required />
        <label for="description">Description: </label>
        <input type="text" name="desc" id="description" required />
        <button type="submit" class="btn">Add</button>
      </form>

      <table class="data-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books%}
          <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="/book/{{book.id}}">View</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <form action="/add_author" method="POST">
        <h2>Add Author</h2>
        {% csrf_token %}
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" id="first_name" required />
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" id="last_name" required />
        <button type="submit" class="btn">Add</button>
      </form>

      <table class="data-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for author in authors%}
          <tr>
            <td>{{author.id}}</td>
            <td>{{author.first_name}} {{author.last_name}}</td>
            <td><a href="/author/{{author.id}}">View</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
